body{
  // padding: 12px 20px;
  padding: 0;
  margin: 0;
}

h1, h2, ,h3, p{
  margin: 0;
  padding: 0;
}

header{
  margin: 10px 0 80px 15px;
}

article{
  max-width: 690px;
  margin-left: 245px;
}

.wrap {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}

